<template>
    <div>
        Counter {{name}}
        <button @click="dec" data-test="decButton">-</button>
        <input type="text" v-model="count" disabled data-test="counterInput" />
        <button @click="inc" data-test="incButton">+</button>
    </div>
</template>

<script>
export default {
  props: ["channel", "name"],
  data: function() {
    return { count: 0 };
  },
  mounted: function() {
    this.channel.on("counter_get", response => {
      this.count = response.count;
    });
    this.channel.push("get");
  },
  methods: {
    dec: function() {
      this.channel.push("dec");
      this.channel.push("get");
    },
    inc: function() {
      this.channel.push("inc");
      this.channel.push("get");
    }
  }
};
</script>
