<template>
  <div class="counters">
    <h1>This is a page with counters</h1>
    <div>
      <input class="input" type="text" ref="counter_name" data-test="counterNameInput" />
      <button class="button" @click="create_counter" data-test="createCounterButton">New Counter</button>      
    </div>
    <div v-for="(channel, name) in counters"
         :key="name">
      <span><Counter :channel="channel" :name="name" /></span>
    </div>
  </div>
</template>


<script>
import Counter from "@/components/Counter.vue";

export default {
  name: "Counters",
  components: { Counter },
  data: function() {
    return { counters: {} };
  },
  methods: {
    create_counter() {
      let name = this.$refs.counter_name.value;
      let ts = Math.round(new Date().getTime() / 1000);
      let screenName = "user" + ts;
      if (name) {
        let channel = this.$socket.channel("counter:" + name, {
          screen_name: screenName
        });
        channel
          .join()
          .receive("ok", resp => {
            console.log(
              "Counter Joined successfully (" + screenName + ")",
              resp
            );
          })
          .receive("error", resp => {
            console.log("Counter Unable to join", resp);
          });
        channel.push("new_counter");
        this.$set(this.counters, name, channel);

        // debugging
        channel.on("subscribers", resp => {
          console.log("Subscribers: ", resp);
        });
        window.channel = channel;
      }
    }
  }
};
</script>
